<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://icts1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>icts1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>icts1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$icts1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mindcube.database.windows.net,1433;Initial Catalog=icts;User ID=mindcube@mindcube.database.windows.net;Password=LIVEwire98#" Name="Data Source=tcp:mindcube.database.windows.net,1433;Initial Catalog=icts;User Id=mindcube@mindcube.database.windows.net;Password=LIVEwire98#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HealthForm.Web.Models.ApplicationDbContext, HealthForm.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ICTSEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mindcube.database.windows.net,1433;Initial Catalog=icts;User ID=mindcube@mindcube.database.windows.net;Password=LIVEwire98#" Name="Data Source=tcp:mindcube.database.windows.net,1433;Initial Catalog=icts;User Id=mindcube@mindcube.database.windows.net;Password=LIVEwire98#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HealthForm.Data.ICTSEntities, HealthForm.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mindcube.database.windows.net,1433;Initial Catalog=icts;User Id=mindcube@mindcube.database.windows.net;Password=LIVEwire98#</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICTSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ICTSEntities.csdl|res://*/ICTSEntities.ssdl|res://*/ICTSEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mindcube.database.windows.net,1433;Initial Catalog=icts;User Id=mindcube@mindcube.database.windows.net;Password=LIVEwire98#"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>