<div class="card">
    <div class="card-block" style="text-align:center">
        <h3 class="card-title"><span class="text-danger">Welcome to Investigations Case Tracking System</span></h3>
</div>
</div>
<div ng-controller="accountLoginController">
    <busy-indicator></busy-indicator>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Login</h4>
            <form name="entryForm">
                <div class="form-group">


                    <label class="col-form-label">User Id</label>
                    <input class="form-control" type="text" ng-model="vm.UserId"
                            validator="required" name="UserId">

                </div>
                <div class="form-group">


                    <label class="col-form-label">Password</label>
                    <input class="form-control" type="password" name="Password" ng-model="vm.Password"  validator="required"/>

                </div>
            </form>

            <button type="submit"  validation-submit="entryForm" class="btn btn-primary" ng-click="login()">Submit</button>
        </div>
    </div>
</div>

