<div ng-controller="caseCommentsController">
    <table class="table">
        <tr ng-repeat="comment in list">
            <td>{{comment.CommentDt | date : 'MM/dd/yyyy'}}</td>
            <td>{{comment.Comments}}</td>
            <td><a href="JavaScript:void(0)" ng-click="editChild(comment)">Edit</a> | 
<a href="JavaScript:void(0)" ng-click="deleteChild(comment.Id, 'comments')">Delete</a></td>
        </tr>
    </table>
        <form class="form-horizontal" name="entryForm" novalidate>
            <div class="form-group">
                <label for="CommentDt" class="col-form-label">Date</label>

                <input type="text" ng-model="childVm.CommentDt" name="CommentDt" class="form-control" validator="required">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="Comments" class="col-form-label">Work Log</label>
                        <textarea ng-model="childVm.Comments" name="Comments" class="form-control" validator="required" />
                    </div>
                </div>


            </div>
            <button type="submit" validation-submit="entryForm" class="btn btn-primary" ng-click="save()">Save</button>
        </form>
</div>