    <div class="card" color3 style="margin-top:10px">
        <div class="card-body card-padding">
            <form name="entryForm" novalidate>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group has-feedback">
                            <label for="CommentDt" class="col-form-label">Date</label>

                            <input type="text" ng-model="$ctrl.childVm.strCommentDt" datepicker name="CommentDt" class="form-control" validator="required">
                            <span class="glyphicon glyphicon-calendar text-success form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="Comments" class="col-form-label">Work Log</label>
                            <textarea ng-model="$ctrl.childVm.Comments" name="Comments" class="form-control" validator="required" />
                        </div>
                    </div>


                </div>
                <button type="submit" validation-submit="entryForm" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
            </form>
        </div>

    </div>
    <p ng-show="$ctrl.childVm.Id > 0">
        <a href="javascript:void(0)" ng-click="$ctrl.addNew()">Add New</a>
    </p>
    
    <comments-list entity-object="$ctrl.entityObject" on-update="$ctrl.editChild(childVm)"></comments-list>


