<div growl inline="true"></div>
<busy-indicator></busy-indicator>
<h4>
    Maintain
</h4>


<div class="card">
    <div class="card-block">
        <form class="form-horizontal" name="EntryForm">

            <uib-tabset active="activeForm">
                <uib-tab index="0" heading="General">


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="RecFName" class="col-form-label">Received From</label>
                                <input type="text" ng-model="obj.vm.FirstName" ID="FirstName" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-4 offset-sm-1">
                            <div class="form-group">
                                <label for="ReceivedDt" class="col-form-label">Received Date</label>

                                <input type="text" ng-model="obj.vm.ReceivedDt" id="ReceivedDt" class="form-control" required>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Category" class="col-form-label">Category</label>
                                <select ng-model="obj.vm.CategoryId" class="form-control" ng-options="option.Id as option.Text for option in Categories">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 offset-sm-1">
                            <div class="form-group">
                                <label for="Category" class="col-form-label">Source</label>
                                <select ng-model="obj.vm.SourceId" class="form-control" ng-options="option.Id as option.Text for option in Sources">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>

                    
                       

                </uib-tab>
                <uib-tab index="1" heading="Status" ng-if="obj.vm.Id > 0" select="tabClick('comments')">

                    
                    <div ng-include src="'scripts/app/case/comments-maintain.html'"></div>

                </uib-tab>
            </uib-tabset>
                
    </form>

</div>
</div>


