<div ng-controller="caseIndividualsController">
    <p>
        <a href="javascript:void(0)" ng-click="addNew()">Add New</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr ng-repeat="obj in list">
            <td>{{obj.Individual.FirstName}}</td>
            <td>{{obj.Individual.LastName}}</td>
            <td>
                <a href="JavaScript:void(0)" ng-click="editChild(obj, 'ind')">Edit</a> |
                <a href="JavaScript:void(0)" ng-click="deleteChild(obj.Id, 'ind')">Delete</a> |
                <a href="JavaScript:void(0)" ng-click="editChild(obj, 'sub')">Subject Action</a>
            </td>
        </tr>
    </table>
    <div style="margin-bottom:20px"></div>
    <form name="entryForm" novalidate>
        <div ng-show="isEditing.ind">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="FirstName" class="fg-label">First Name</label>
                        <input type="text" ng-model="childVm.Individual.FirstName" name="FirstName" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="MiddleName" class="fg-label">Middle Name</label>
                        <input type="text" ng-model="childVm.Individual.MiddleName" name="MiddleName" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="FirstName" class="fg-label">Last  Name</label>
                        <input type="text" ng-model="childVm.Individual.LastName" name="LastName" class="form-control">
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="SurName" class="fg-label">Sur Name</label>
                        <input type="text" ng-model="childVm.Individual.SurName" name="SurName" class="form-control">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="NickName" class="fg-label">Nick Name</label>
                        <input type="text" ng-model="childVm.Individual.NickName" name="NickName" class="form-control">
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="DOB" class="fg-label">Middle Name</label>
                        <input type="text" ng-model="childVm.Individual.DOB" name="DOB" class="form-control">
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Title" class="fg-label">Title</label>
                        <input type="text" ng-model="childVm.Individual.Title" name="Title" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="LicenseNo" class="fg-label">License#</label>
                        <input type="text" ng-model="childVm.Individual.LicenseNo" name="LicenseNo" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="SupFirstName" class="fg-label">Supervisor Name</label>
                        <div class="input-group">
                            <input type="text" ng-model="childVm.Individual.SupFirstName" name="SupFirstName" class="form-control" placeholder="First">
                            <span class="input-group-addon"></span>
                            <input type="text" ng-model="childVm.Individual.SupMiddleName" name="SupMiddleName" class="form-control" placeholder="Middle">
                            <span class="input-group-addon"></span>
                            <input type="text" ng-model="childVm.Individual.SupLastName" name="SupLastName" class="form-control" placeholder="Last">
                        </div>
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="Agency" class="fg-label">Agency or Corporation</label>
                        <input type="text" ng-model="childVm.Individual.Agency" name="Agency" class="form-control">
                    </div>
                </div>
            </div>

            
            <h4 class="border-bottom">Contact Information</h4>
            <div class="bs-callout bs-callout-warning">

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="WorkAddress1" class="fg-label">Work Address 1</label>
                        <input type="text" ng-model="childVm.Individual.WorkAddress1" name="WorkAddress1" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="WorkAddress2" class="fg-label">Work Address 2</label>
                        <input type="text" ng-model="childVm.Individual.WorkAddress2" name="WorkAddress2" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="WorkCity" class="fg-label">Work City</label>
                        <input type="text" ng-model="childVm.Individual.WorkCity" name="WorkCity" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="WorkState" class="fg-label">Work State</label>
                        <input type="text" ng-model="childVm.Individual.WorkState" name="WorkState" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="WorkZip" class="fg-label">Work Zip</label>
                        <input type="text" ng-model="childVm.Individual.WorkZip" name="WorkZip" class="form-control">
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="HomeAddress1" class="fg-label">Home Address 1</label>
                        <input type="text" ng-model="childVm.Individual.HomeAddress1" name="HomeAddress1" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="HomeAddress2" class="fg-label">Home Address 2</label>
                        <input type="text" ng-model="childVm.Individual.HomeAddress2" name="HomeAddress2" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="HomeCity" class="fg-label">Home City</label>
                        <input type="text" ng-model="childVm.Individual.HomeCity" name="HomeCity" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="HomeState" class="fg-label">Home State</label>
                        <input type="text" ng-model="childVm.Individual.HomeState" name="HomeState" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="HomeZip" class="fg-label">Home Zip</label>
                        <input type="text" ng-model="childVm.Individual.HomeZip" name="HomeZip" class="form-control">
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="WorkPhone" class="fg-label">Work Phone</label>
                        <input type="text" ng-model="childVm.Individual.WorkPhone" name="WorkPhone" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="HomePhone" class="fg-label">Home Phone</label>
                        <input type="text" ng-model="childVm.Individual.HomePhone" name="HomePhone" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="CellPhone" class="fg-label">Cell Phone</label>
                        <input type="text" ng-model="childVm.Individual.CellPhone" name="CellPhone" class="form-control">
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Email" class="fg-label">Email Address 1</label>
                        <input type="text" ng-model="childVm.Individual.Email" name="Email" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Email2" class="fg-label">Email Address 2</label>
                        <input type="text" ng-model="childVm.Individual.Email2" name="Email2" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="childVm.IsWB" name="IsWB"> <i class="input-helper"></i> Whistle Blower
                        </label>
                    </div>
                    <div class="form-group" ng-show="childVm.IsWB">
                        <label for="WBComments" class="col-form-label">Comments</label>
                        <textarea ng-model="childVm.WBComments" name="WBComments" class="form-control" />
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div ng-show="isEditing.sub">
            <div class="card">
                <div class="card-header">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="childVm.IsSubjectResponse" name="IsSubjectResponse"><i class="input-helper"></i> Subject Response
                        </label>
                    </div>
                </div>
                    <div class="card-body card-padding" ng-show="childVm.IsSubjectResponse">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group has-feedback">
                                    <label for="DraftSentDt" class="fg-label">Draft Sent Date</label>
                                    <input type="text" class="form-control" datepicker name="DraftSentDt" ng-model="childVm.DraftSentDt" />
                                    <span class="glyphicon glyphicon-calendar text-success form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group has-feedback">
                                    <label for="ResponseDueDt" class="fg-label">Response Due Date</label>
                                    <input type="text" class="form-control" datepicker name="ResponseDueDt" ng-model="childVm.ResponseDueDt" />
                                    <span class="glyphicon glyphicon-calendar text-success form-control-feedback"></span>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group has-feedback">
                                    <label for="ResponseReceiveDt" class="fg-label">Response Received Date</label>
                                    <input type="text" class="form-control" datepicker name="ResponseReceiveDt" ng-model="childVm.ResponseReceiveDt" />
                                    <span class="glyphicon glyphicon-calendar text-success form-control-feedback"></span>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="childVm.RequestedExtension" name="RequestedExtension"><i class="input-helper"></i> Extension
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3" ng-show="childVm.RequestedExtension">
                                <div class="form-group has-feedback">
                                    <label for="ExtensionDueDt" class="fg-label">Extension Due Date</label>
                                    <input type="text" class="form-control" datepicker name="ExtensionDueDt" ng-model="childVm.ExtensionDueDt" />
                                    <span class="glyphicon glyphicon-calendar text-success form-control-feedback"></span>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            <div class="card">
                <div class="card-header">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="childVm.IsJudicialAction" name="IsJudicialAction"><i class="input-helper"></i> Judicial Action
                        </label>
                    </div>
                </div>
                <div class="card-body card-padding" ng-show="childVm.IsJudicialAction">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="ReferralStatusId" class="fg-label">Referral Status</label>
                                <input type="text" class="form-control" name="ReferralStatusId" ng-model="childVm.ReferralStatusId" />
                            </div>
                        </div>

                    </div>
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="childVm.IsLEA" name="IsLEA"><i class="input-helper"></i> Referral to LEA
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-show="childVm.IsLEA">
                            <div class="form-group has-feedback">
                                <label for="LEADt" class="fg-label">Referral Date</label>
                                <input type="text" class="form-control" datepicker name="LEADt" ng-model="childVm.LEADt" />
                                <span class="glyphicon glyphicon-calendar text-success form-control-feedback"></span>
                            </div>
                        </div>

                        <div class="col-sm-3" ng-show="childVm.IsLEA">
                            <div class="form-group">
                                <label for="LEAgency" class="fg-label">LE Agency</label>
                                <input type="text" ng-model="childVm.LEAgency" name="LEAgency" class="form-control">
                            </div>
                        </div>

                    </div>
                    <hr class="hr-blue">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="childVm.IsSA" name="IsSA"> <i class="input-helper"></i>Referral to SA
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-show="childVm.IsSA">
                            <div class="form-group has-feedback">
                                <label for="SADt" class="fg-label">Referral Date</label>
                                <input type="text" class="form-control" datepicker name="SADt" ng-model="childVm.SADt" />
                                <span class="glyphicon glyphicon-calendar text-success form-control-feedback"></span>
                            </div>
                        </div>

                        <div class="col-sm-3" ng-show="childVm.IsSA">
                            <div class="form-group has-feedback">
                                <label for="SAResponseDt" class="fg-label">Response Date</label>
                                <input type="text" class="form-control" datepicker name="SAResponseDt" ng-model="childVm.SAResponseDt" />
                                <span class="glyphicon glyphicon-calendar text-success form-control-feedback"></span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

                </div>


                <button type="submit" validation-submit="entryForm" class="btn btn-primary" ng-click="save()">Save</button>
</form>

    <!--<div ng-show="isSubjectAction">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="FirstName" class="fg-label">Action Taken</label>
                    <input type="text" ng-model="childVm.FirstName" name="FirstName" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="MiddleName" class="fg-label">Days Suspended</label>
                    <input type="text" ng-model="childVm.MiddleName" name="MiddleName" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="FirstName" class="fg-label">Action Taken Date</label>
                    <input type="text" ng-model="childVm.LastName" name="LastName" class="form-control">
                </div>
            </div>



        </div>
    </div>-->



</div>
