<div class="panel panel-primary">
    <div class="panel-heading">
        Maintain
    </div>
    <div class="panel-body">
        <form role="form" novalidate angular-validator name="maintainPatientInfoForm" class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Insurance Company</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" ng-model="obj.InsCompany"
                           validate-on="blur" required required-message="'Title is required'">
                </div>
            </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Insurance Id</label>
                    <div class="col-md-5 selectContainer">
                        <input class="form-control" type="text" ng-model="obj.InsId" />
                    </div>

                </div>
            <formly-form model="obj.List" fields="userFields" options="options">
            </formly-form>

        </form>
    </div>
    <div class="clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="saveList()">Save</button>
            <button type="button" class="btn btn-primary" ng-click="makeInactive()">Inactivate</button>
        </div>
    </div>
</div>
