/*Bootstrap override*/    

.tab-content{
    padding-top:20px;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
/*  color: #555;
  cursor: default;
  background-color: #b6c0e2;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
*/
  border-top: 3px solid #f0ad4e;
  
}

.hr-blue {
    margin:0;
    border: 0;
    border-top: 1px solid #E8F4FA;
}

.border-bottom {
    margin-bottom:20px;
    padding-bottom:5px;
    border: 0;
    border-bottom: 1px solid #ad9999;
}


/* -- End  -- */


.c-profile>a .sp-info {
    background: #e5e5e5;
    padding: 7px 30px;
    color: #333;
}


.breadcrumb {
    padding: 0;
    margin:0;
    border:none;
}

#main {
    padding-bottom: 0px;
    padding-top: 80px;
}

/*#content:not(.content-alt) {
    padding-left: 270px;
    padding-right: 15px;
}*/

.main-menu .active>a, .main-menu a.active, .main-menu a:hover {
    background-color: #F1F1FA;
    color: #262626;
}

 


.color1
{
	background-color: #EEEEE9;
	background-image: linear-gradient(#EEEEE9, #FEFDFA);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEEE9, endColorstr=#FEFDFA)";
}

.color2
{
	background-color: #FAF7EA;
	background-image:linear-gradient(#FCFBF3, #FEFEF9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FCFBF3, endColorstr=#FEFEF9)";
	color: #333333;
}

.color2 a
{
	color: #333333
}

.color3
{
	background-color: #f5fafd;
	background-image:linear-gradient(#fff, #f5fafd);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#f5fafd)";
	color: #333333
}


.color4
{
	background-color: #E1FAFE;
	background-image:linear-gradient(#E1FAFE, #E3EEFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E1FAFE, endColorstr=#E3EEFF)";
	color: #333333
}

.color5
{
	background-color: #FCF3E8;
	background-image:linear-gradient(#FCF3E8, #fff);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FCF3E8, endColorstr=#fff)";
	color: #00f
}

#blockUiBackdrop {
    height: 100vh;
    width: 100%;
    z-index: 20000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ui-grid-viewport, .ui-grid {
    height: auto !important;
}

.ui-grid-cell {
    overflow: hidden;
    float: left;
    background-color: inherit;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #eef1ed;
    box-sizing: border-box;
}

.ui-grid-header-cell, .ui-grid, .ui-grid-header{

    border-color: #eaeeea;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #fffdf4;
    background-image:linear-gradient(#FCFEFE, #f6f7f5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FCFEFE, endColorstr=#f6f7f5)";
}

.ui-grid-row-selected .ui-grid-cell{
    background-color: #bbe4e3;
    background-image:linear-gradient(#8ed3d1, #e8f6f5) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ed3d1, endColorstr=#e8f6f5)" !important;
}




/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    /*background-color: #fcf2f2;*/
    border-color: #dFb5b4;
}

.bs-callout-warning {
    background-color: #fff;
    border-color: #f1e7bc;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}

.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #C09853;
}

.bs-callout-info h4,
.bs-callout-info a.alert-link {
    color: #3A87AD;
}

.bs-callout a.alert-link {
    font-weight: bold;
}
