<busy-indicator></busy-indicator>
<p class="border-bottom">
    {{vm.MasterCode}}
</p>
<form name="entryForm" novalidate>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="Code" class="control-label">Code</label>
                <input type="text" ng-model="vm.Code" name="Code" class="form-control" validator="required">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="Text" class="control-label">Text</label>
                <input type="text" ng-model="vm.Text" name="Text" class="form-control" validator="required">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <input type="text" ng-model="vm.Description" name="Description" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="Field1" class="control-label">Field1</label>
                <input type="text" ng-model="vm.Field1" name="Field1" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="Field2" class="control-label">Field2</label>
                <input type="text" ng-model="vm.Field2" name="Text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="Field3" class="control-label">Field3</label>
                <input type="text" ng-model="vm.Field3" name="Field1" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="Field4" class="control-label">Field4</label>
                <input type="text" ng-model="vm.Field4" name="Text" class="form-control">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
</form>

<div class="border-bottom" style="margin:30px 0"></div>
<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="row-border hover"></table>
