<aside id="sidebar" class="sidebar c-overflow">
    <div class="c-profile">
        <a href="" data-ma-action="profile-menu-toggle">
            <div class="sp-pic">
                @*<img src="~/assets/img/demo/profile-pics/1.jpg" alt="">*@
            </div>

            <div class="sp-info">
                <b>{{UserInfo.Name}}</b>

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href="" ng-click="logoff()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li ng-repeat="menu in menuItems" class="{{menu.Children.length > 0 ? 'sub-menu' : ''}} {{menuInfo.curMenu.Code === menu.Code ? 'active' : ''}}">
            <a href="{{menu.URL}}" data-ma-action="submenu-toggle">
                <i class="{{menu.Icon}}"></i>
                {{menu.Title}}
            </a>
            <ul>
                <li ng-repeat="child in menu.Children">
                    <a href="{{child.URL}}" class="{{child.Code === menuInfo.code ? 'active ' : ''}}">
                        {{child.Title}}
                    </a>
                </li>
            </ul>

        </li>
    </ul>
   
</aside>