<aside id="umang-left-panel" umang-position-type="absolute" ng-if="UserInfo.isLoggedIn">
    <div class="profile-box">
        <div class="media">

            <div class="media-body">
                <h5 class="media-heading"><span>Umang Natani</span></h5>
                <small></small>
            </div>
        </div>
    </div>
    <ul class="nav panel-list" ng-repeat="menu in menuItems">
        <li id="{{menu.Id}}" class="{{menu.Children.length > 0 ? 'umang-has-menu' : ''}}">
            <a ng-href="{{menu.URL}}">
                <i class="{{menu.Icon}}"></i>
                <span class="menu-text"> {{menu.Title}}</span>
            </a>
            <ul class="" ng-repeat="child in menu.Children">
                <li data-parent-id="{{menu.Id}}">
                    <a ng-href="{{child.URL}}">
                        <span class="menu-text">{{child.Title}}</span>
                    </a>
                </li>
            </ul>

        </li>
    </ul>
</aside>